body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#play {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#Target {
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 20px blueviolet;
}

#board {
    width: 400px;
    height: 400px;

    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 78.5px;
    height: 78.5px;
    border: 0.5px solid rgb(22, 24, 24);
}


#pieces {
    width: 1040px;
    height: 160px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#pieces img {
    width: 78.5px;
    height: 78.5px;
    border: 0.5px solid lightblue;
}

@media (max-width:576px){
    #play {
        row-gap: 20px;
    }

    #pieces{
        width: 400px;
    }
}